@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/***********************Screen*************/

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 120px;
    background: #000;
    border-top: solid #40aed7;
}

.head-grid{
    display: grid;
    grid-template-columns: 225px 1fr;
}
.logo{
    margin-top: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    

}
.logo h1{
    font-size: 40px;
}
.logo sp{
    font-size: 15px;
    margin-left: 80px;
}

/***********************LOGO****************/

ul.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    
    margin-top: 50px;
    
    
}

ul.menu li{
    list-style: none;
    
}
ul.menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: .3s ease-in-out;
    font-size: 20px;
    border-radius: 5px;
}
ul.menu li a:hover{
    background-color: #fff;
    color: #000;
}

/***********************Header***************/
.content{
    margin-top: 50px;
    width: 100%;
    height: auto; 
    
    
}
.con-heading{
    font-family:fantasy ;
    font-size: 78px;
    color: #333333;
    padding-left: 90px;
    border-bottom: 1px solid #b8b8b8 ;
}

/****************Content**************/

.profile{
    width: 100%;
    height: auto;
    margin-top: 40px;
    
}
.profile-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b8b8b8 ;
    
}

.profile-grid  img{
    width: 100%;
}
.profile h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
}

.profile h3 a{
    text-decoration: none;
    color: #333333;
    
}

.profile h3:hover{
    cursor: pointer;
    transition: .2s ease-in-out;
    letter-spacing: -0.00933333em;
   
}

/****************profile*******************/

.footer{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    background: #000;
    height: 50px;
    border-bottom: solid #40aed7;
    padding: 15px;
}
.copy{
    text-align: left;
    color: #fff;
}
.credit{
    text-align: right;
    color: #fff;
}

/***************footer**********************/


.profileh{
    width: 100%;
    height: auto;
    margin-top: 40px;
    
}

.profile-gridh{
    display: grid;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b8b8b8 ;
    
    
}
.profileh h4{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #b8b8b8 ;
    
}

.profileh h4 a{
    text-decoration: none;
    color: #333333;
    
}

.profile h3:hover{
    cursor: pointer;
    transition: .2s ease-in-out;
    letter-spacing: -0.00933333em;
   
}

/*****h-certificate,Deegree*****************/

.about{
    width: 100%;
    height: auto;
    margin-top: 40px;
    
}
.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    text-align: left;
    border: 0;
    border-bottom: 1px solid #b8b8b8 ;
    
}
.aboutlabel {
    font-size: 25px;
    color: #333333;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    
    
    
}
.aboutlabel ul li{
    margin-bottom: 50px;
    margin-left: 50px;
    
}

/*****************about********************/

.contract{
    width: 100%;
    height: auto;
    margin-top: 40px;
    
    
}
.contract img{
    width: 100%;
}
.contract-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 70px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b8b8b8 ;
    margin-bottom: 300px;
    
}
.contractimg h4{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/****************contract********************/

@media only screen and (max-width: 700px){
    header{
        height: auto;
        
    }
    
    .head-grid {
        text-align: center;
        grid-template-columns: 1fr;
    }

    ul.menu{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
        
         
    }
    ul.menu li{
        height: 2.5rem;
    }

    .con-heading h2 {
        font-size: 40px;
    }
    .fr{
        border-top: 1px solid #b8b8b8;
    }
    .profile-grid h3{
        font-size: 1.5rem;
    }
    .footer{
        font-size: 10px;
    }
    .profileh img{
        width: 50%; 
    }
    .profileh h4{
        font-size: 1.5rem;
        
        
    }

    .about img{
        width: 100%;
    }

    .aboutlabel ul{
        font-size: 0.9rem;
    }
    
    .contract h4{
        font-size: 0.9rem;
    }

}

